@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;800&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border:.5px solid grey;   
  background-color: #FFFFFF;
  height: 100px;
  border-radius:50%;
  width: 100px;
}